body{
    margin:0;
}
a{
    text-decoration: none;
}
dd{
    margin: 0;
}
p{
    line-height: 18px;
    color: #919aa7;
    font-size: 12px;
    padding-left: 5rem;
}
ul{
    list-style: none;
    padding: 0;
}

.tophead{
    background:url(./img/home-bg.png);
    background-size: 100% auto;
    text-align: center;
    height: 196px;
}

.header img{
    width:70%;
    margin-top: 42px;
}

.tophead form{
    margin-top:30px;
    background-color: #ffffff;
    width: 70%;
    display: inline-block;
    border-radius: 2rem;
    line-height: 2;
}

.search{
    border: none;
    background-color: white;
    padding-left: 3rem;
}

.inWhat{
    border: none;
    outline: none;
}

.inWhat::placeholder{
    color: grey;
}

.find-cata{
    padding-left: 10px;
    
}
.find-cata dt{
    align-items: center;
    display: flex;
}

.technology img{
    margin-right: 15px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.technology div{
    font-size: 14px;
    font-weight: bold;
}

.tech a{
    color: #7e8793;
    line-height: 13px;
    background: #f5f8f9;
    padding: 8px 16px;
    border-radius: 100px;
    margin: 0.4rem;
    display: inline-block;
    
}

.container form img{
    width: 18px;
    height: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container form{
    width: 100%;
    height: 50px;
}
.container form input{
    border: none;
    outline: none;
    background-color: #f4f7f9;
    height: 29px;
    width:70%;
    border-radius: 20px;
}

.container form button{
    border: none;
    outline: none;
    background-color: blanchedalmond;
    flex-shrink: none;
}
.job-list h1{
    font-size: 14px;
}
.job-list img{
    width: 59px;
    height: 59px;
    padding-left: 20px;
}

.name{
    font-size: 12px;
    
}
.message{
    font-size: 12px;
}
.box{
    width:70%;
}

.filter dd{
    display: none;
}
.filter dt{
    font-size: 12px;
    color: #aaa;
}

.filter dd,.filter dl{
    margin:0;
}
.filter{
    margin: 0 20px;
}
