body{
    margin:0;
}
.tophead{
    background:url(./img/home-bg.png);
    background-size: 100% auto;
    text-align: center;
    height: 196px;
}

.header img{
    width:70%;
    margin-top: 42px;
}

.tophead form{
    margin-top:30px;
    background-color: #ffffff;
    width: 80%;
    display: inline-block;
    border-radius: 2rem;
    line-height: 2.2;
}


